<div class="row">
  {{#each routes}}
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <p>{{ date }}</p>
        <p>{{ latitudes }}</p>
        <p>{{ longitudes }}</p>
        <!-- DELETE REQUEST -->
        <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Delete</button>
        </form>
      </div>
    </div>
  </div>
  {{/each}}
</div>
