<div class="col-sm-4 mb-3">
    <input type="hidden" name="user" id="user" value={{user}} />
    <div class="card-body">
        <div class="form-grou ">
            <input type="text" id="routeName" name="routeName" value="" class="form-control" placeholder="Route Name" autofocus
                required />
        </div>
        <button id="bWatchMe" class="buttonMap btn" onclick="trackMe()">
            Track Me
        </button>

        <button id="bStop" class="buttonMap btn" onclick="stop()">
            Stop
        </button>
        <form action="/stop" method="GET" id="stopForm" name="stopForm"></form>
    </div>

    <div id='map'> </div>

</div>

<script src="../../js/location.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAC_MBGOKSrR3a2FFN6c5V9J_wCasOP_8&callback=initMap">