<div id="map"></div>
<div class="col-sm-4 mb-6">
    <button id="bWatchMe" class="btn btn-primary btn-block btn-lg" onclick="trackMe()">
        Track Me
    </button>
    <button id="bStop" class="btn btn-primary btn-block btn-lg" onclick="stop()">
        Stop
    </button>

    <form action="/addRoute" method="POST">
        <input type="hidden" id="latitudes" name="latitudes" value="">
        <input type="hidden" id="longitudes" name="longitudes" value="">
        <button type="submit" id="bSave" class="btn btn-primary btn-block btn-lg">
            Save
        </button>
    </form>
</div>

<script src="../../js/location.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAC_MBGOKSrR3a2FFN6c5V9J_wCasOP_8&callback=initMap">