<div id="map"></div>
<div class="row ">
    <div class="col-md-2 mb-2">
        <button id="bWatchMe" class="btn btn-primary btn-block btn-lg">
            Watch Me
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
    </div>

    <div class="col-md-2 mb-2">
        <button id="bStop" class="btn btn-primary btn-block btn-lg">
            Stop
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
    </div>
</div>
<!---<button id="bWatchMe" class="btn btn-primary btn-block"> Watch Me </button>
    <button id="bStop" class="btn btn-primary btn-block"> Stop </button>--->
<script src="../../js/location.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAC_MBGOKSrR3a2FFN6c5V9J_wCasOP_8&callback=initMap">