<div class="col-sm-4 mb-3" style="cen">
    <input type="hidden" name="user" id="user" value={{user}}/>
    <div class="card-body">
        <form id="name" name="name" action="/addRoute" method="POST">
            <div class="form-group">
                <input type="text" id="routeName" name="routeName" class="form-control" placeholder="Route Name"
                    autofocus required/>
            </div>

            <button id="bSave" class="buttonMap btn" type="submit">
                Save
            </button>
        </form>
        <button id="bWatchMe" class="buttonMap btn" onclick="trackMe()">
                Track Me
            </button>
        <button id="bStop" class="buttonMap btn" onclick="stop()">
            Stop
        </button>

        <form id="addPoint" name="addPoint" action="/addPoint" method="POST">
            <input type="hidden" name="lat" id="lat" value=""/>
            <input type="hidden" name="lon" id="lon" value=""/>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        </form>

    </div>

    <div id='map'> </div>

</div>

<script src="../../js/location.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAC_MBGOKSrR3a2FFN6c5V9J_wCasOP_8&callback=initMap">
