<div class="row">
    <input type="hidden" id="points" name="points" value="{{points}}">
    {{#each title}}
    <div class="card">
        <div class="card-header text-center">
            <p> {{ name }} </p>
        </div>
        <div class="card-body text-center">
            <table class="table" id="table">
                <thead id="colomns">
                </thead>
                <tbody id="rows">
                </tbody>
            </table>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto card-block">
        <div class="card-body text-center">
            <p clsss="lead">Nobody has shared routes with you yet.</p>
        </div>
    </div>
    {{/each}}
</div>

<script>
    var points = JSON.parse(document.getElementById("points").value);
    var trColumns = "<tr>\n     <th> Latitude </th>\n       <th> Longitude </th>\n</tr>"
    for (var i = 0; i < points.length; i++) {
        var tr = "\n<tr>\n";
        for (var j = 0; j < points[i].length; j++) {
            tr += "     <td>" + points[i][j].lat + "</td>\n"
            tr += "     <td>" + points[i][j].lon + "</td>\n"
            tr += "</tr>\n"
        }
    }
    table.innerHTML = trColumns
    table.innerHTML += tr
</script>